body {
    width: 100%;
    box-sizing: border;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

::-webkit-scrollbar {
    width: 7px;

}
::-webkit-scrollbar-track {
    background: #222; 
}
   
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 3px;
  }

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');
/* _____ */

section {
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(to right,rgb(211, 205, 205),#222); */
}

#section-1 {
    
    background-image: url("wave-black.svg");
    background-repeat: no-repeat;
    background-position: bottom;
   
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav {
    transition: 2s all;
}

.logo {
    width: 80px;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
}

header nav a {
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #000;
    transition: 200ms color ease;
    font-weight: 600;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

header nav a:hover {
    color: rgb(255, 210, 177);
}

.wrap {
    width: 100%;
    margin-top: 20%;
    display: flex;
}

.wrap .text_box {
    text-align: left;
}

.wrap .text_box .heading-text {
    color: #000;
    font-size: 55px;
    letter-spacing: 1;
    font-family: 'Roboto', sans-serif;
}

.wrap .text_box .small-text {
    color: #222;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;

}
.wrap .text_box .start-text {
    margin-top: 30px;
}
.wrap .text_box .btn_start {
    background-color: #000;
    width: 240px;
    color: #ccc;
    font-size: 1.5em;
    height: 55px;
    background-image: linear-gradient(
        -60deg, 
        transparent, transparent 40%,
        #ccc 60%, #ccc 60%,
        transparent 60%, transparent 100%
        );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    border-radius: 50px;
    border: none;
    font-family: 'Open Sans', sans-serif;
}
.wrap .text_box .btn_start:hover {
    background-position-x: -150%;
    transition: background-position-x 600ms;
    color: #fff;
}
.wrap .image_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}

.wrap .image_box img {
    filter: drop-shadow(0 0 0.15rem #222);
    animation: animate 2000ms infinite;
    cursor: pointer;
    transition: .8s transform;
}

.wrap .image_box img:hover {
    transform: translateY(-7px);
    filter: drop-shadow(0 0 0.25rem #222);
}
.wrap .image_box img.active {
    transform: rotateY(180deg);
}


#section-2 {
    background-color: black;
    position: relative;
    background-image: url("wave-white.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    color: #fff;
}

#section-2 .container {
    margin-top: 150px;
    /* background: #fff; */
    color: #fff;
}

#section-2 .container .text-box {
    display: flex;
    background-color: rgba(136, 136, 136, 0.459);
    flex-direction: column;
    align-items: center;
}
#section-2 .container .text-box img {

}

#section-2 .text-box .heading-text {
    font-size: 2em;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}
#section-2 .text-box .main-text {
    width: 430px;
    margin-top: 20px;
    text-align: center;
}
#section-2 .text-box .main-text p {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}
#section-2 .text-box .main-text span {
    color: #ffc107;
}


/* section-3 */

#section-3 {
    position: relative;
}
#section-3 svg {
 position: absolute;
 bottom: 0;

}

/* media */

@media (max-width: 1125px) {
    .wrap .text_box .btn_start {
        width: 240px;
        height: 50px;
        font-size: 1.4em;
    }
    .wrap .text_box .heading-text {
        font-size: 50px;
        line-height: 63px;
    }
    .wrap .text_box .small-text {
        font-size: 1.2em;
    }
   
}

@media (max-width: 776px) {
    #section-1 .wrap {
        flex-direction: column;
        align-items: center;
    }

    #section-1 .heading-text {
        font-size: 45px;
        text-align: center;
    }
    #section-1 .small-text {
        font-size: 1.1em ;
        text-align: center;
    }

    .wrap .text_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrap .image_box  {
        margin-left: 0 !important;
        margin-top: 50px;
        width: 100%;
    }
    .wrap .text_box .btn_start {
        width: 220px;
        height: 50px;
        font-size: 1.4em;
    }

    #section-2 .container {
        display: flex;
        justify-content: center;
    }

    #section-2 .container .text-box {
        width: 81%;
        padding: 5px 7px;
    }
    #section-2 .container .text-box .main-text {
        width: 100%;
    }

    #section-2 .text-box .heading-text {
        font-size: 1.8em;
    }
    #section-2 .text-box .main-text {
        font-size: 14px;
    }
}



@media (max-width: 500px) {
    #section-1 .heading-text {
        font-size: 40px;
    }
    #section-1 .small-text {
        font-size: 1em;
    }

    #section-1 .image_box img:nth-child(1) {
        width: 90px;
        height: 90px;
    } 
    #section-1 .image_box img:nth-child(2) {
        width: 70px;
        height: 90px;
    }
    #section-1 .image_box img:nth-child(3) {
        width: 70px;
        height: 70px;
    }

    .wrap .text_box .btn_start {
        width: 200px;
        height: 50px;
        font-size: 1.2em;
    }
}

@media (max-width: 400px) {
    header nav a  {
        font-size: 1em;
    }

    .logo {
        width: 60px;
        height: 30px;
    }
    .wrap .text_box .btn_start {
            width: 180px;
            height: 45px;
            font-size: 1.2em;
    }
}